<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="https://felixdtrudel.github.io/index.html"> <h1>Félix Desmeules-Trudel</h1> </a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <a <p>WesternU</p> href="http://www.psychology.uwo.ca"> <p>Psychology</p> || href="https://www.uwo.ca/bmi/"> <p>BMI</p> </a>        
        <a href="https://felixdtrudel.github.io/about.html"> <h3>About</h3> </a>
        <a href="https://felixdtrudel.github.io/research.html"> <h3>Research</h3> </a>
        <a href="https://felixdtrudel.github.io/teaching.html"> <h3>Teaching and workshops</h3> </a>
        <a href="https://felixdtrudel.github.io/resources.html"> <h3>Resources and links</h3> </a>
        <p>En français</p>
        <a href="https://felixdtrudel.github.io/fr/apropos.html"> <h3>À propos</h3> </a>
        <a href="https://felixdtrudel.github.io/fr/recherche.html"> <h3>Recherche</h3> </a>
        <a href="https://felixdtrudel.github.io/fr/enseignement.html"> <h3>Enseignement et formations</h3> </a>
        <a href="https://felixdtrudel.github.io/fr/ressources.html"> <h3>Ressources et liens</h3> </a>
      </header>
      <section>

{{content}}
        
      </section>
      <footer>
        {% if site.github.is_user_page %}
        <p>This website is maintained by Félix Desmeules-Trudel</p>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
